@import url('./constants.css');

button {
	background-color: var(--header-bg-color);
	border-radius: 8px;
	box-sizing: border-box;
	color: var(--font-color);
	cursor: pointer;
	display: flex;
	font-family: var(--font-family-text);
	font-size: 16px;
	justify-content: center;
	max-width: 100%;
	padding: 4px 24px;
	position: relative;
	text-decoration: none;
}

button:active {
	background-color: var(--shadow-color);
	color: var(--table-bg-color);
}

button:hover {
	outline: 0;
}

button#new-list,
button#save-btn,
button#reset-btn {
	display: inline;
	margin-left: 2px;
}

button#modal-add,
button#modal-cancel {
	display: inline-flex;
	margin-top: 16px;
	margin-left: 115px;
}

button.remove-btn {
	padding: 0 auto;
	font-size: 14px;
	text-align: center;
}

button#modal-cancel {
	color: var(--bold-color);
	background-color: var(--shadow-color);
	margin-left: 2px;
}

button#modal-cancel:active {
	background-color: var(--header-bg-color);
	color: var(--font-color);
}

@media only screen and (max-width: 600px) {
	button {
		padding: 2px 15px;
	}

	button#modal-add,
	button#modal-cancel,
	button.remove-btn {
		padding: 8px 15px;
	}

	button#modal-add {
		display: inline-flex;
		margin-left: 100px;
	}

	button#modal-add,
	button#modal-cancel {
		margin-top: 16px;
		margin-bottom: 4px;
	}

	button.remove-btn {
		margin: 0 auto;
		text-align: center;
	}
}
