.checked-label {
	text-decoration: line-through;
	font-style: italic;
	text-decoration-color: var(--bold-color);
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
	accent-color: var(--bold-color);
}
