@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
	--header-bg-color: #f9d6d6;
	--background-color: #f7f1e2;
	--table-color: #f9f3eb;
	--table-color-dark: #e5d8c6;
	--table-bg-color: #fbf5e9c5;
	--shadow-color: #0b1956;
	--header-color: #0b1956;
	--font-color: #205e94;
	--font-family-head: 'Poetsen One', 'sans-serif';
	--font-family-text: 'Kanit', sans-serif;
}
