div #modal-body {
	display: none;
	position: fixed;
	z-index: 6;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--shadow-color);
	padding: 0 30px 14px;
	background-color: var(--table-color-dark);
	width: 350px;
	border-radius: 35px;
	border: 3px solid var(--shadow-color);
	opacity: 1;
}

form {
	margin: 0 10px;
}

form p,
.form-modal {
	display: inline-block;
	vertical-align: middle;
}

form p {
	color: var(--font-color);
	font-family: var(--font-family-head);
}

.form-modal {
	margin-left: 10px;
	color: var(--font-color);
	font-family: var(--font-family-text);
}

#textInput,
#dateInput {
	width: 300px;
	border: none;
	border-bottom: 2px solid var(--font-color);
	background-color: var(--table-color-dark);
}

.overlay {
	position: fixed;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
}

@media only screen and (max-width: 600px) {
	#textInput,
	#dateInput {
		width: 250px;
	}

	div #modal-body {
		top: 30%;
		width: 300px;
		padding: 0 2px 14px;
	}

	form {
		max-width: 100%;
	}

}
