@import url('./constants.css');

table {
	border-collapse: collapse;
}
thead #status-id {
	border-top-left-radius: 10px;
}

thead #remove-id {
	border-top-right-radius: 10px;
}

thead #task-id {
	width: 600px;
}

th {
	background-color: var(--header-bg-color);
	border: 2px solid var(--border-color);
	padding: 8px;
	color: var(--font-color);
	font-family: var(--font-family-text);
	font-size: 18px;
	text-align: center;
}

td {
	border: 1px solid var(--border-color);
	padding: 8px;
	color: var(--font-color);
	font-family: var(--font-family-text);
}

tr:nth-child(even) {
	background-color: var(--table-color-dark);
}

tr {
	background-color: var(--table-color);
}

.status,
.task,
.due,
.remove {
	text-align: center;
}

#table-container {
	padding: 20px;
	background-color: var(--table-bg-color);
	max-width: 800px;
	margin: 60px auto;
	border-radius: 35px;
	box-shadow: 15px 10px var(--shadow-color);
	border: 3px solid var(--shadow-color);
}
